*{
    box-sizing: border-box;
}

body{
    background-color: #e9e7e4;
    
}



.banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


h1{ 
    /*color: #5e7fc1; */
    font-size: 4.5em; 
}

.header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2
}

.site-name{ 
    text-align: center;
    font-style: normal;
    z-index: 3;
}

#anchors{
    display: flex;
    flex-direction: row;
    gap: 3.6rem;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.icon{
    max-width: 2rem;
    height: auto;
    display: flex;
}



#anchors a{
    color: #5e7fc1;
    text-decoration: underline;
    display: block;
    font-size: 1.7em;
}

h2{
    font-size: 3em;
    text-align: center;
    color: #e9e7e4;
    background: #3f6c51;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 7vh;
}



.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
    margin: 0;
}

.portfolio img{
    max-width: 300px;
    height: auto;
    gap: 5rem;
}


.card-content{
    padding-bottom: 3rem;
}


#prof-work{
    width: 100%;
    margin-bottom: 35vh;
}

#prof-work img{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
}



#digital{
    margin-bottom: 35vh;
}

#digital img{
    width: 500px;
    height: auto;
    padding-left: 2vw;

}

footer{
    text-align: center;
    background-color: #f9fbf2;
    color: #1d3461;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
