

body{
    background-color: #e9e7e4;
    
}



.banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2

}
.main-nav {
    position: relative;
}

.nav-toggle {
    background-color: #5e7fc1;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9fbf2;
    list-style: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
}

.nav-menu li {
    margin: 0.5rem 0;
    gap: 2rem;
}

.nav-menu a {
    color: #5e7fc1;
    font-size: 1.5rem;
    display: block;
    text-decoration: underline;
}

.nav-menu a:hover {
    background-color: #5e7fc1;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
}

.nav-menu.active {
    display: block;
}

.anchor-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.anchor-links a {
    color: #5e7fc1;
    text-decoration: underline;
    font-size: 2rem;
}

.anchor-links a:hover {
    color: #1d3461;
}
.site-name{ 
    text-align: center;
    font-style: normal;
    z-index: 3;
    font-size: 5.5em;
}

h2{
    font-size: 3em;
    text-align: center;
    color: #e9e7e4;
    background: #EB6534;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 7vh;
    margin-top: 7vh;
}



.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 2rem;
    margin: 0;
}

.portfolio img{
    max-width: 300px;
    height: auto;
    gap: 5rem;
    cursor: pointer;
}


.card-content{
    padding-bottom: 1.5rem;
}

.card-title{
    color:#EB6534;
    padding-bottom: 3rem;
}

#paintings{
    width: 100%;

}

#paintings img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 330px
}

#prof-work{
    width: 100%;
    margin-bottom: 10vh;
}


#digital{
    margin-bottom: 10vh;
}

#back-to-top{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #5e7fc1;
    color: #e9e7e4;
    border-radius: 20px;
    padding: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: none;
}

#back-to-top:hover {
    background-color: #3f6c51;
    transform: scale(1.1);
}


footer{
    text-align: center;
    background-color: #f9fbf2;
    color: #1d3461;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:larger;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media screen and (max-width: 480px){

body{
    width: 100%;
    height: auto;
}
    
.banner{
    height: 60vh;
    width: 100%;
    }

.banner img {
    content: url(images/ballright3.png);
    width: 100%;
    height: auto;
    object-fit:cover;
    background-repeat: no-repeat;
}

    .header-overlay{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .site-name{
        font-size: 3em;
        margin-top: 10vh;
    }
    
    .anchor-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        margin-top: 3vh;
    }

    .anchor-links a{
        font-size: 1.3em;
    }

    h2{
        font-size: 1.5em;
    }

.portfolio {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    
.portfolio img{
        max-width: 310px;
        height: auto;
        gap: 5rem;
        cursor: pointer;
    }
    
    
    .card-content{
        padding-bottom: 1.5rem;
    }
    
    .card-title{
        color:#EB6534;
        margin-left: 2vw;
    }
    
    #paintings{
        width: 100%;
        height: auto;
    
    }
    
    #paintings img{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 330px
    }
    
    #prof-work{
        width: 100%;
        margin-bottom: 5vh;
    }
    
    
    #digital{
        margin-bottom: 5vh;
    }
    
    #back-to-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #5e7fc1;
        color: #e9e7e4;
        border-radius: 20px;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
}