*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #e9e7e4;
    margin: 0;
}



.banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2

}

.site-name{ 
    text-align: center;
    color: #1d3461;
    font-size: 5.5em;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}


.anchor-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.anchor-links a {
    color: #5e7fc1;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 2rem;
}

.anchor-links a:hover {
    color: #1d3461;
}


main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3f6c51;
    color: #f9fbf2;
    width: 60vw;
    font-family: "new-atten", sans-serif;
    font-weight: 350;
    font-size: 1.3em;
    font-style: normal;
    padding: 6vh;
    margin: 0 auto;
    margin-top: 0vh;
    border-radius: 50px;
    margin-bottom: 0;
}

h2{
    padding-bottom: 2rem;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5em;
}

main img{
    width: 50vw;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    border-radius: 50px;

}


#who {
    padding-bottom: 4vh;
}

aside{
    background-color: #5e7fc1;
    color: #f9fbf2;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
    padding: 4.5vh;
    border-radius: 50px;
    width: 60vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

aside a{
    color: #e9e7e4;
    font-size: 2em;
}


aside img{
    max-width: 13vw;
    height: auto;
}

h3{
    font-size: 2em;
    color:#e9e7e4;
}

footer{
    text-align: center;
    background-color: #f9fbf2;
    color: #1d3461;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:larger;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


@media screen and (max-width:480px) {

    body{
        width: 100%;
        height: auto;
    }
        
    .banner{
        height: 52vh;
        width: 100%;
        }
    
    .banner img {
        content: url(images/ballright3.png);
        width: 100%;
        height: auto;
        object-fit:cover;
        background-repeat: no-repeat;
    }
    
        .header-overlay{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
        }
    
        .site-name{
            font-size: 3.4em;
            margin-top: 10vh;
        }
        
        .anchor-links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem;
            margin-top: 3vh;
        }
    
        .anchor-links a{
            font-size: 1.3em;
        }
main {    
    width: 95vw;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    font-style: normal;
    text-align: center;
    margin-top: 4vh;
    border-radius: 40px;
    margin-top: 0;

}


aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95vw;
    height: auto;
    border-radius: 45px;
}

aside a{
font-size: 1em;
}
}


