*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #e9e7e4;
    margin: 0;
}



.banner {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2

}

.site-name{ 
    text-align: center;
    color: #1d3461;
    font-size: 5.5em;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}


.anchor-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.anchor-links a {
    color: #5e7fc1;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 2rem;
}

.anchor-links a:hover {
    color: #1d3461;
}


main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3f6c51;
    color: #f9fbf2;
    width: 60vw;
    font-family: "new-atten", sans-serif;
    font-weight: 350;
    font-size: 1.3em;
    font-style: normal;
    padding: 6vh;
    margin: 0 auto;
    margin-top: 0vh;
    border-radius: 50px;
}

h2{
    padding-bottom: 2rem;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5em;
}

main img{
    width: 50vw;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    border-radius: 50px;

}


#who {
    padding-bottom: 4vh;
}

aside{
    background-color: #5e7fc1;
    color: #f9fbf2;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2vh;
    padding: 4.5vh;
    border-radius: 50px;
    width: 60vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

aside a{
    color: #e9e7e4;
}

footer{
    text-align: center;
    background-color: #f9fbf2;
    color: #1d3461;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:larger;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

aside img{
    max-width: 13vw;
    height: auto;
}

h3{
    font-size: 2em;
    color:#e9e7e4;
}

@media screen and (max-width: 480px) {
    
.banner{
    height: 30vh;
    width: 100%;
    background-image: url(ball_new.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.banner img {
    content: url(ball_new.png);
    width: 100%;
    height: auto;
    object-fit:cover;
}
.header-overlay{
    width: 100%;
    }

.site-name{
    font-size: 1.6em;
    text-align: center;
    padding-top: 20px;
    }

.nav {
    flex-direction: column;
    padding-bottom: 2vh;
    }

.nav a{
    font-size: 1em;
    font-family: "alfarn", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: underline;
}

main {    
    width: 80vw;
    font-family: "new-atten", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    font-style: normal;
    text-align: center;
    margin-top: 4vh;

}
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

aside a{
font-size: 1.5em;
}

/*
@media screen and (max-width: 768px){

.banner{
    background-image: url(768.png);
    background-size: cover;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    }

.banner img {
    content: url(768.png);
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-overlay{
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit: contain;
}

.site-name{
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 0;
    }

.nav {
    flex-direction: column;
    width: auto;
    margin-top: 5px;
    }

.nav a{
    font-size: 1.8em;
    padding: 5px;
    margin:0;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

}


@media screen and (max-width: 1000px) {

.banner{
    background-position: center;
    width: 100%;
    height: 300px;
    margin: 0;
}

.banner img {
    content: url(768.png);
    width: 100%;
    height: auto;
}

}
.site-name {
    font-size: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav {
    width: auto;
    }

.nav a{
    font-size: 1.8em;
    padding: 12px;
    margin:0;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
}
*/