*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body{
    background-color: #e9e7e4;
}

h1{
    text-align: center;
    color: #1d3461;
    font-size: 5.5em;
    font-family: "alfarn", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
    padding: 5vh;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15rem;
    padding: 1rem;
}

.portfolio img{
    max-width: 300px;
    height: auto;
}